.green-class {
    background-color: rgb(169, 241, 169);
}

.blue-class {
    background-color: rgb(188, 203, 253);
}

.arctic-class {
    background-color: rgb(132, 235, 255);
}

.gray-class {
    background-color: rgb(215, 222, 252);
}

.yellow-class {
    background-color: rgb(236, 245, 115);
}