<div class="p-fluid" style="padding-bottom: 10px;">
    <div class="p-field" style="padding-bottom: 10px;" [formGroup]="metodistForm">
        <label for="PasswordFormControl">Новый пароль</label>
        <p-password formControlName="PasswordFormControl" [(ngModel)]="firstpassword" [toggleMask]="true"
            [feedback]="false" (change)="change(firstpassword)">
        </p-password>
        <small class=" p-invalid"
            *ngIf="!metodistForm.controls['PasswordFormControl'].valid&&metodistForm.controls['PasswordFormControl'].dirty">
            <li>Мин. длина пароля 8 символов</li>

        </small>
    </div>

    <div class="p-field">
        <label for="secondpassword">Повторите пароль</label>
        <p-password [(ngModel)]="secondpassword" [toggleMask]="true" [feedback]="false"
            [disabled]="!metodistForm.controls['PasswordFormControl'].valid&&!metodistForm.controls['PasswordFormControl'].dirty"
            (ngModelChange)="change(firstpassword)">
        </p-password>
    </div>
</div>

<div class="flex align-items-center justify-content-center gap-2">
    <button pButton pRipple label="Сохранить" icon="pi pi-check"
        [disabled]="!(metodistForm.valid && changepass && (firstpassword==secondpassword))"
        class="p-button-outlined p-button-success" (click)="savePassword()"></button>
    <!-- <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text" (click)="close()"></button> -->
</div>